
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 


* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background-image:url(/img/fundo_Astronauta.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    border: solid #ee840204 1px;
    padding: 10px;
    color: #674041;
}

.titulo-destaque {
    color: #000000;
}

.especialidade {
    background-color: #f0eae829;
    color: #674041;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}


.apresentacao {
    margin: 1%;
    margin-right: 49%;
    margin-top: 14%;
    display: flex; /* Isso define um contêiner flexível; inline ou bloco dependendo do valor fornecido. Ele permite um contexto flexível para todos os seus filhos diretos.*/
    flex-direction: row; /*Isso estabelece o eixo principal, definindo assim a direção que os itens flexíveis são colocados no flex container.*/
    justify-content: center; /*Isso define o alinhamento ao longo do eixo principal. */
    align-items:center;/*Isso alinha as linhas de um flex container quando há espaço extra no eixo cruzado, semelhante a como justify-contentalinha itens individuais dentro do eixo principal.*/
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ee8402;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color:#ee8402;
    border-right-color: #ee8402;
    border-bottom-color:#ee8402;
    border-left-color: #ee8402;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial; 
    background-color: #dd9a7d5d;
    
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url(img/Ruido.png);
    background-size: 100% 100%;
    position: relative;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;

}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #352223;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between
}

.apresentacao__links__link {
    background-color: #bb5837a4;
    width: 150px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #BB5737;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 0 ;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;    
}

span{
    color: #000000;


}
